*{
    margin: 0px;
    padding: 0px;
}
html
{
    position: relative;
    min-height: 100%;
}
body
{
    margin: 0 0 65px;
}
#main
{
  display: flex;
    flex-direction: column;
   /*max-width: 1100px;*/

}
header
{
    display: flex;
    width: 100%;
    /*background-color: #17A05D;*/
    background-color: #FFCD41;
}
.contenido
{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}
header #contenidoheader {
    display: flex;
    flex-direction: row;
    color: #F9FDD8;
    justify-content: space-between;
     align-items: center;
   /* align-content: space-around;*/
    /*align-items: center;*/
    /*border-radius: 30px 30px 0 0;
    border: 2px solid black;*/
    /*order: 1;*/}
header #contenidoheader img
{
    width: 300px;
    padding: 0 10px;
    margin-top: 10px;
}
/*#contenidoheader
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
}*/
header form
{
    display: flex;
    align-content: space-between;
    padding-right: 30px;
    /*border: 1px solid red;*/

}
header p
{
    margin-right: 20px;

}
/*El nav*/
#main nav
{
    display: flex;
    width: 100%;
    /*background-color: #17A05D;*/
background-color: #FFCD41;
}
#main nav #contenedornav
{
    display: flex;
    justify-content:flex-end;
    justify-items: center;
    background-color: #FFCD41;
    max-height:35px;
    height: 35px;
    color: white;
    /*border: 2px solid black;*/

}
#main nav  span
{
    margin-right: 30px;
    padding-right: 30px;
    max-height: 25px;
    color: white;
   /*border: 1px solid black;*/
}
.enlace1
{
    color: white;
    font-size: 20px;
}
/*fin del nav*/
#formulario, #formulario div
{
    display: flex;
    align-content: space-around;
    flex-direction: column;
    margin: auto;
    text-align: center;
    max-width: 700px;
    margin-top: 10px;
}
#envio
{   display: flex;
    max-width: 100px;
    margin: auto;
    margin-top: 10px;


}
#nickr, #passwordr, #emailr, #repasswordr
{
    display: flex;
    width: 300px;
}
.form-control
{
    max-height: 25px;
}
.botones
{
    margin-right: 5px;

}

/* Botón propio
-------------------------------------------------- */

/* Redefine los estilos de .btn */
/* Modificar el texto y el color de fondo en los tres estados
   principales del botón: default, hover y active. */
.btn-ttc,
.btn-ttc:hover,
.btn-ttc:active {
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #716f6f;
}

/* Aplicar gradientes de colores */
/* Nota: no se muestran aquí todos los gradientes que tendrás que
   definir para los diferentes navegadores. */
.btn-ttc {
    background-repeat: repeat-x;
    background-image: linear-gradient(top, #009ED2 0%, #007DA7 100%);
...
}

/* Estilos del estado :hover del botón */
/* Uno de los estilos más sencillos y eficaces para el estado :hover
   consiste en subir hacia arriba ligeramente la imagen de fondo del
   botón, pero puedes definir otros estilos adicionales si quieres. */
.btn-ttc:hover {
    background-position: 0 -15px;
}
table, td, th
{
    border: 1px solid black;
    margin: auto;
    text-align: center;

}
table
{
    margin-top: 20px;
}
th
{
    color: white;
    padding: 10px;
    background-color: #5A5D5E;
}
td
{
    padding: 10px;
}
#video
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*El pie de pagina */
footer
{
    display: flex;
    flex-direction:row-reverse;
    justify-content:space-around;
    background-color:#FFCD41;
    align-items: flex-end;
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 65px;


}
footer > section
{
    display: flex;
    flex-direction:column;
    align-items: flex-end;
    margin-right: 30px;

}
footer > section > div
{
    display: flex;
    flex-direction:row;

}
footer > section > div > img
{
    margin: 5px;
}

footer > p
{
    text-align: center;
    align-content: flex-end;
}
/*Fin del pie de pagina */
@media screen and (max-width: 1024px)
{

}
@media screen and (max-width: 768px)
{

}
@media screen and (max-width: 425px)
{

}